<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2 way databinding</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/vue.js"></script>
    
</head>
<body>
    
    <div id="app" class="m-5">
       <form action="#">
           <div class="container">
               <div class="row">
                   <div class="col-md-6">
                        <div class="form-group">
                            <label for="databinding">Type your name</label>
                            <input type="text" class="form-control" v-model="name">
                            <span class="pt-4 d-block text-success">{{name}}</span>
                        </div>
                   </div>
                   <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Type your email</label>
                            <input type="text" class="form-control" v-model="email">
                            <span class="pt-4 d-block text-success">{{email}}</span>
                        </div>
                   </div>
               </div>
           </div>
       </form>
    </div>
    


    <script>
        var x = new Vue ({
            el: "#app",
            data: {
                name: " ",
                email: " "
            },
            methods: {
                
            }
        })
    </script>
</body>
</html>