<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Two Way Data Binding Part-2</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>

  <div id="app">
    <form action="">
      <div class="container" style="background-color: #03A9F4;">
        <div class="row mt-5 p-5">
          <div class="col-md-12">
            <fieldset class="from-group">
              <legend>Radio Buttons</legend>
              <div class="form-check">
                <label class="form-check-label">
                  <input v-model="selectedOptions" type="checkbox" class="form-check-input" name="optionsRadios"
                    id="optionsRadios1" value="option-1">
                  Option-1
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input v-model="selectedOptions" type="checkbox" class="form-check-input" name="optionsRadios"
                    id="optionsRadios2" value="option-2">
                  Option-1
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input v-model="selectedOptions" type="checkbox" class="form-check-input" name="optionsRadios"
                    id="optionsRadios3" value="option-3">
                  Option-1
                </label>
              </div>
            </fieldset>
            <p>You selected: {{selectedOptions.join(', ')}}</p>
          </div>
        </div>
      </div>
    </form>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        selectedOptions: []
      }
    });
  </script>
</body>

</html>