<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bazar - Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
          <div class="">
            <h1 class="text-success pb-2 text-center">Bazar List</h1>
            <form @submit.prevent="additem">
              <div class="form-group">
                <input class="form-control" v-model="newItem">
                <!-- <p class="mt-2">{{newItem}}</p> -->
              </div>
            </form>
            <ul class="list-group">
              <li v-for="(item, index) in items" :key="index" class="list-group-item">
                
                <button class="badge badge-danger border-0 pt-1 pl-2 pr-2 pb-2 float-right" @click="removeItem(index)">remove</button>
                {{ item.name}} - <input v-model="item.price" style="width:45px;text-align:center;">
              </li>
              <li class="list-group-item">Total - {{total}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    new Vue({
      el:"#app",
      data: {
        items: [
          {name: 'Rice', price: 45},
          {name: 'Wheat', price:35},
          {name: 'Oil', price:1000},
        ],
        newItem: ''
      },
      computed: {
        total(){
          var total = 0
          this.items.forEach(item => {
            total += parseFloat(item.price)
          })
          return total
        }
      },
      methods: {
        additem(){
            this.items.push({
            name:this.newItem,
            price:0
          })
        },
        removeItem(index){
          this.items.splice(index, 1)
        }
      }
    });
  </script>
</body>
</html>