<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List Rendering</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>

  <div id="app">

    <div class="m-5">
      <ul>
        <li v-for="x in posts" :key="x.id">{{x.title}}</li>
      </ul>
      <table>
        <tr v-for="y in posts" :key="y.id">
          <th>dfgdf</th>
        </tr>
      </table>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        posts: [{
            id: 1,
            title: 'Post-1',
            body: 'lorem Ipsum'
          },
          {
            id: 2,
            title: 'Post-2',
            body: 'lorem Ipsum'
          },
          {
            id: 3,
            title: 'Post-3',
            body: 'lorem Ipsum'
          },
          {
            id: 4,
            title: 'Post-4',
            body: 'lorem Ipsum'
          }
        ]
      }
    });
  </script>
</body>

</html>